* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#85b5fd, #3400f1);
  background-color: lightgrey;
}

span {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 0.3em;
}

.game-title {
  font-size: 70px;
  margin-top: .3em;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.remaining-time {
  margin-top: .5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.question {
  margin-top: 1em;
  margin-bottom: .3em;
  color: #fff;
}

#result {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  text-align: center;
  font-size: 25px;
}

#header {
  margin-top: 3em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  text-align: center;
  font-size: 25px;
}

#game-div {
  width: 80%;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  text-align: center;
  font-size: 25px;
}



#finished-game {
  letter-spacing: 1.2px;
  margin-top: 1em;
  font-size: 18px;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 10px;
  color: green;
  background-color: rgba(180, 201, 180, 0);
}

#finished-game:hover {
  background-color: rgb(180, 201, 180);
}

#start-game {
  letter-spacing: 1.2px;
  padding: 5px 10px;
  font-size: 18px;
  border: solid 1px;
  border-radius: 10px;
  color: green;
  background-color: rgba(180, 201, 180, 0);
}

#start-game:hover {
  background-color: rgb(180, 201, 180);
  
}

.answer-option {
  color: black;
}

.space {
  color: #fff;
  margin-top: 2em;
  border-radius: 10px;
  padding: 5px;
}

